*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  margin: 24px;
}
textarea{
    margin: 5px;
}

